<ion-view view-title="Locations">
    <ion-content>
        <div class="card">
            <div class="item item-divider">
                Add location
            </div>
            <div class="item item-text-wrap">
                <div class="list">
                    <label class="item item-input item-icon-right">
                        <span class="input-label">Location:</span>
                        <ion-spinner ng-show="showSpinner" icon="dots"></ion-spinner><input type="text" ng-model="location.name">
                    </label>
                    <div class="button-bar">
                        <button ng-disabled="showSpinner" class="button icon-left ion-pinpoint " ng-click="getCurrentLocation()">
                            Get location
                        </button>
                        <button ng-disabled="showSpinner" class="button icon-left ion-ios-plus-outline " ng-click="addLocation(location.name)">
                            Add location
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="locations.length>0" class="card">
            <div class="item item-divider">
                Your locations
            </div>
            <div class="item">
                <ion-list show-delete="true"
                          show-reorder="false"
                          can-swipe="true">
                    <ion-item ng-repeat="location in locations"
                              class="">
                        <h2>{{location}}</h2>
                        <ion-delete-button class="ion-trash-a"
                                           ng-click="removeLocation(location)"></ion-delete-button>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>

